name: Build binaries

on: workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      # Keep disabled until all variant builds are cleaned up
      fail-fast: false
      matrix:
        variant: [default, all-dynamic, basic]
        target: [x86_64-unknown-linux-gnu, x86_64-unknown-linux-musl]
        package: [deb, rpm, binary]
        include:
          - target: x86_64-unknown-linux-musl
            needs-musl: true
            output-file-name: musl
          - target: x86_64-unknown-linux-gnu
            output-file-name: gnu
          - variant: all-dynamic
            needs-librdkafka: true
          - package: deb
            needs-cargo-deb: true
            build-deb: true
            target-dir: debian
          - package: rpm
            needs-cargo-generate-rpm: true
            needs-binary-build: true
            build-rpm: true
            target-dir: generate-rpm
          - package: binary
            needs-binary-build: true
            target-dir: release

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup musl rust toolchain
        if: ${{ matrix.needs-musl }}
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: x86_64-unknown-linux-musl

      - name: Install librdkafka
        if: ${{ matrix.needs-librdkafka }}
        run: sudo apt-get update -y && sudo apt-get -y install librdkafka-dev scdoc musl-tools

      - name: Install musl-tools
        if: ${{ matrix.needs-musl }}
        run: sudo apt-get update -y && sudo apt-get -y install musl-tools

      - name: Install scdoc
        run: sudo apt-get update -y && sudo apt-get -y install scdoc

      - name: Build docs
        run: make doc

      - name: Install cargo-deb
        uses: houseabsolute/actions-rust-cross@v1
        if: ${{ matrix.needs-cargo-deb }}
        with:
          command: install
          target: x86_64-unknown-linux-gnu
          args: "cargo-deb"

      - name: Install cargo-generate-rpm
        uses: houseabsolute/actions-rust-cross@v1
        if: ${{ matrix.needs-cargo-generate-rpm }}
        with:
          command: install
          target: x86_64-unknown-linux-gnu
          args: "cargo-generate-rpm"

      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        if: ${{ matrix.needs-binary-build }}
        env:
          CARGO_TARGET_DIR: "target/${{ matrix.variant }}"
        with:
          command: build
          target: ${{ matrix.target }}
          args: "--release --no-default-features --features ${{ matrix.variant }}"
          force-use-cross: true

      - name: Build deb
        uses: houseabsolute/actions-rust-cross@v1
        if: ${{ matrix.build-deb }}
        env:
          CARGO_TARGET_DIR: "target/${{ matrix.variant }}"
        with:
          command: deb
          target: ${{ matrix.target }}
          args: "--variant ${{ matrix.variant }}"
          force-use-cross: true

      - name: Build rpm
        uses: houseabsolute/actions-rust-cross@v1
        if: ${{ matrix.build-rpm }}
        with:
          command: generate-rpm
          target: x86_64-unknown-linux-musl
          args: "-p bin/stringsimile-service --target-dir target/${{ matrix.variant }}"

      - name: Upload build files
        uses: actions/upload-artifact@v4
        with:
          name: stringsimile-${{ matrix.variant }}-${{ matrix.output-file-name }}-${{ matrix.package }}
          path: ./target/${{ matrix.variant }}/${{ matrix.target }}/${{ matrix.target-dir }}
