name: Build DEB, RPM and static binary

on: workflow_dispatch

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup musl rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          target: x86_64-unknown-linux-musl

      - name: Install librdkafka and scdoc
        run: sudo apt-get update -y && sudo apt-get -y install librdkafka-dev scdoc musl-tools

      - name: Build docs
        run: make doc

      - name: Install cargo-deb
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: install
          target: x86_64-unknown-linux-gnu
          args: "cargo-deb"

      - name: Build deb binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: x86_64-unknown-linux-musl
          args: "--release --no-default-features --features deb"
          strip: true

      - name: Build deb
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: deb
          target: x86_64-unknown-linux-musl
          args: "-- --no-default-features --features deb"

      - name: Upload deb build files
        uses: actions/upload-artifact@v4
        with:
          name: stringsimile-deb
          path: ./target/x86_64-unknown-linux-musl/debian

      - name: Build deb basic binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: x86_64-unknown-linux-musl
          args: "--release --no-default-features --features basic"
          strip: true

      - name: Build deb basic
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: deb
          target: x86_64-unknown-linux-musl
          args: "-- --no-default-features --features basic"

      - name: Upload deb basic build files
        uses: actions/upload-artifact@v4
        with:
          name: stringsimile-deb-basic
          path: ./target/x86_64-unknown-linux-musl/debian

      - name: Install cargo-generate-rpm
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: install
          target: x86_64-unknown-linux-gnu
          args: "cargo-generate-rpm"

      - name: Build RPM binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: x86_64-unknown-linux-musl
          args: "--release --no-default-features --features rpm"
          strip: true

      - name: Build rpm
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: generate-rpm
          target: x86_64-unknown-linux-musl
          args: "-p bin/stringsimile-service"

      - name: Upload rpm build files
        uses: actions/upload-artifact@v4
        with:
          name: stringsimile-rpm
          path: ./target/x86_64-unknown-linux-musl/generate-rpm

      - name: Build basic RPM binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: x86_64-unknown-linux-musl
          args: "--release --no-default-features --features basic"
          strip: true

      - name: Build basic rpm
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: generate-rpm
          target: x86_64-unknown-linux-musl
          args: "-p bin/stringsimile-service"

      - name: Upload basic rpm build files
        uses: actions/upload-artifact@v4
        with:
          name: stringsimile-basic-rpm
          path: ./target/x86_64-unknown-linux-musl/generate-rpm

      - name: Build static binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: x86_64-unknown-linux-musl
          args: "--release"
          strip: true

      - name: Upload static build files
        uses: actions/upload-artifact@v4
        with:
          name: stringsimile-static
          path: ./target/release

      - name: Build basic static binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: x86_64-unknown-linux-musl
          args: "--release --no-default-features --features basic"
          strip: true

      - name: Upload basic static build files
        uses: actions/upload-artifact@v4
        with:
          name: stringsimile-basic-static
          path: ./target/release
