name: CI

on:
  push:
    branches:
      - "*"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install librdkafka
        run: apt-get update -y && apt-get -y install librdkafka-dev

      - name: Install cargo-deb
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: install
          target: x86_64-unknown-linux-gnu
          args: "cargo-deb"

      - name: Build deb binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: x86_64-unknown-linux-gnu
          args: "--release --no-default-features --features deb"
          strip: true

      - name: Build deb
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: deb
          target: x86_64-unknown-linux-gnu

      - name: Upload deb build files
        uses: actions/upload-artifact@v4
        with:
          name: stringsimile-deb
          path: ./target/debian

      - name: Install cargo-generate-rpm
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: install
          target: x86_64-unknown-linux-gnu
          args: "cargo-generate-rpm"

      - name: Build RPM binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: x86_64-unknown-linux-gnu
          args: "--release --no-default-features --features rpm"
          strip: true

      - name: Build rpm
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: generate-rpm
          target: x86_64-unknown-linux-gnu
          args: "-p bin/stringsimile-service"

      - name: Upload rpm build files
        uses: actions/upload-artifact@v4
        with:
          name: stringsimile-rpm
          path: ./target/generate-rpm

      - name: Build static binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: x86_64-unknown-linux-gnu
          args: "--release"
          strip: true

      - name: Upload static build files
        uses: actions/upload-artifact@v4
        with:
          name: stringsimile-static
          path: ./target/release
